.vscode
.idea
.DS_Store
*.js
*.js.map
*.log
*.metadata.json
package-lock.json
!src/scripts/*.js
!seed-tests/*.js
seed-tests/seed-copy/**/*.*
seed-tests/seed-copy-new-git-repo/**/*.*
demo/*.d.ts
demo-angular/*.d.ts
!demo/references.d.ts
!demo-angular/references.d.ts
demo/lib
demo-angular/lib
demo/platforms
demo-angular/platforms
node_modules
publish/src
publish/package
demo/report/report.html
demo-angular/report/report.html
demo/report/stats.json
demo-angular/report/stats.json
