<ActionBar
  title="My App"
  class="action-bar"
></ActionBar>
<GridLayout rows="*, auto">
  <StackLayout
    class="page"
    [ngSwitch]="selectedTab"
    row="0"
  >
    <ItemsComponent *ngSwitchDefault></ItemsComponent>
    <SecondItemComponent *ngSwitchCase="2"></SecondItemComponent>
  </StackLayout>

  <BottomNavigation
    id="bottomNavigation"
    row="1"
    activeColor="black"
    (tabPressed)="onBottomNavigationTabPressed($event)"
    (tabSelected)="onBottomNavigationTabSelected($event)"
  >
    <BottomNavigationTab
      title="First"
      icon="ic_home"
    ></BottomNavigationTab>
    <BottomNavigationTab
      title="Second"
      icon="ic_view_list"
      selectable="false"
    ></BottomNavigationTab>
    <BottomNavigationTab
      title="Third"
      icon="ic_menu"
    ></BottomNavigationTab>
  </BottomNavigation>
</GridLayout>
