<ActionBar title="My App" class="action-bar"></ActionBar>
<GridLayout rows="*, auto, auto">
  <StackLayout class="page" [ngSwitch]="selectedTab" row="0">
    <ItemsComponent *ngSwitchDefault></ItemsComponent>
    <SecondItemComponent *ngSwitchCase="2"></SecondItemComponent>
  </StackLayout>

  <BottomNavigation
    id="bottomNavigation"
    row="1"
    [tabs]="tabs"
    titleVisibility="Never"
    (tabPressed)="onBottomNavigationTabPressed($event)"
    (tabSelected)="onBottomNavigationTabSelected($event)"
    (tabReselected)="onBottomNavigationTabReselected($event)"
  >
    <!-- <BottomNavigationTab
      title="First"
      icon="res://ic_home"
    ></BottomNavigationTab>
    <BottomNavigationTab
      title="Second"
      icon="res://ic_view_list"
      [isSelectable]="false"
    ></BottomNavigationTab>
    <BottomNavigationTab
      title="Third"
      icon="res://ic_menu"
    ></BottomNavigationTab> -->
  </BottomNavigation>
</GridLayout>
